# Repository URL for the project, change the following line to support GPU acceleration, from "cpu" to "cu121"
--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple
aiofiles
fastapi
numpy
#opencv_python_headless==4.8.1.78
opencv-contrib-python-headless
lapx
python-multipart
python-dateutil
DateTime
pandas
Pillow
pytube
Requests
streamlit
ultralytics
uvicorn
# Use this line if you are using a CPU
#torch==2.2.2
# Uncomment this line if you are using a Nvidia GPU and disable the line above
torch
